/* Universal Styles */
body {
    background-color: black;
    color: white;
    font-family: Verdana;
    text-align: center;
}
/* Product Introduction */
h1 {
    font-weight: normal;
    font-size: 50px;
}
/* Product Description */
h2 {
   font-weight: 300;
   font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}
/* Links */
a {
    color: aquamarine;
    font-size: 16px;
}
/* Footer */
.footer {
    text-align: right;
}